*{
  margin: 0;
  padding: 0;
  /* 清除文字下划线 */
  text-decoration: none;
  /* 清除高亮显示 */
  /* rgba：red、green、blue、透明度。 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  /* 去掉实心圆 */
  list-style: none;
}
